body {
    background-image: url("https://static.wikia.nocookie.net/8dc2e382-9681-4199-bf80-551e559add1e/scale-to-width/755");
    background-size: 75px 75px;
    background-attachment: fixed;
}

.sigma_1 {
    text-align: center;
    text-shadow: none;
    font-style: italic;
}

.sigma_1 p {
    color: #0399cb;
}

.sigmax_project {
    background-image: url('https://i.pinimg.com/736x/30/d8/30/30d830bf5cfed320e6d0bd2c616d8c5c.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 775px 175px;
    color: white; 
    padding: 40px 20px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinning {
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes fly {
    0% { transform: translateX(-100vw); }
    50% { transform: translateX(0) rotate(180deg); }
    100% { transform: translateX(100vw); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fly-spin {
    animation: fly 1s linear infinite, spin 2s linear infinite;
    display: inline-block;
    width: 150px;
    height: auto;
}